.NewWebsiteModalRoot{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.NewWebsiteModalPaper{
    max-height: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    outline: none;
    min-width: 400px;
    overflow-y: auto;
}

.NewWebsiteModalTitle{
    margin-bottom: 16px;
    font-weight: bold;
}

.NewWebsiteModalName{
    margin-bottom: 16px !important;
}

.NewWebsiteModalDescription{
    margin-bottom: 16px !important;
}

.NewWebsiteModalSubDomain{
    margin-bottom: 16px !important;
}

.NewWebsiteModalButton{
    width: 150px !important;
    place-self: flex-end !important;
    text-transform: capitalize !important;
}

.NewWebsiteModalPlansRoot{
    display: flex;
    padding: 0 24px;
    margin-bottom: 12px;
}

.NewWebsiteModalPlan{
    display: flex;
    flex-direction: column;
    padding: 24px !important;
}

.NewWebsiteModalPlanImage{
    width: 128px;
    height: 128px;
}

.NewWebsiteModalPlanTitle{
    margin-top: 12px;
}

.NewWebsiteModalLoding {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
