.RegisterPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2dbee;
}

.RegisterBoundary{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 4px;
    width: 22%;
    min-width: 300px;
}

.RegisterTitle{
    width: 100%;
    display: inline-block;
    margin-bottom: 16px !important;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.RegisterUsername{
    margin-bottom: 16px !important;
    background-color: #e8f7f8 !important;
}

.RegisterPassword{
    margin-bottom: 16px !important;
    background-color: #e8f7f8 !important;
}

.RegisterButtonsContainer{
    width: 100%;
}

.RegisterEnter{
    margin-right: 16px !important;
    text-transform: capitalize !important;
}

.RegisterLogin{
    position: absolute !important;
    right: 16px !important;
    text-transform: capitalize !important;
}
